
.info{margin:10%;padding: 5%;background: white; max-width:1200px; position: inherit;bottom:-5px}

.link{float:right;height: 15px;}

body{background: #775f5f;}

.headshot{height: 325px;float: left; margin-right:10%}



#logo{
    margin-top: -.85%
}