h1{background: #4aaaa5;size: 200%;max-width:300px;float:left ;margin: -0.5%;padding: 0.5%}
.info{margin:10%;padding: 5%;background: white; max-width:1200px; position: inherit;bottom:-5px}

.link{float:right}

body{background: #775f5f;}

.headshot{height: 325px;float: left; margin-right:10%}


http://via.placeholder.com/200x200